html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    background-image: url("1934777.jpg");
}

#button-container {
    text-align: center;
}

#generate-ship-button {
    margin: 20px;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    outline: none;
    background-color: rgb(133, 72, 72);
    color: white;
    border: none;
    border-radius: 20px;
    box-shadow: 0 9px #999;
}

#generate-ship-button:hover {
    background-color: rgb(104, 28, 28);
}

#generate-ship-button:active {
    background-color: rgb(104, 28, 28) ;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.spaceship {
    height: 100px;
    display: block;
    background-color: none;
    padding: 20px;
    align-items: center;
}

.engine--start {
    animation: spaceshipAnimation 0.3s ease infinite;
}

@keyframes spaceshipAnimation {
    0% {
        transform: translateY(0px) translateX(2px);
    }
    25% {
        transform: translateY(2px) translateX(0px);
    }
    50% {
        transform: translateY(0px) translateX(-2px);
    }
    75% {
        transform: translateY(-2px) translateX(px);
    }
    100% {
        transform: translateY(0px) translateX(2px);
    }
}