html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

p,
input,
textarea {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
input,
textarea {
  border: 1px solid lightgray;
  outline: none;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form-field {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.contact-form-field p {
  width: 150px;
}

.contact-form-field:nth-child(4) {
  align-items: flex-start;
}

.contact-form-field input {
  width: 300px;
  padding: 5px;
}

.contact-form-field textarea {
  width: 300px;
  height: 300px;
  padding: 5px;
}

.send-container {
  display: flex;
  justify-content: flex-end;
}
.red-class {
  border-color: red;
}
#message {
  display: none;
  color: green;
  border: 1px solid black;
  margin: none;
  padding: 25px;
  text-align: center;
}

#message-sent {
    color: green;
    border: 1px solid black;
    margin: 15px;
    padding: 25px;
    text-align: center;
    position: relative;

}

.hideButton {
  position: absolute;
top: 0px;
right: 0px;
}
